@model List<MVC_Contactos.Models.ModeloPersona>

@{
    ViewBag.titulo = "Administración de personas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.titulo</h2>

<a href="~/CRUD_Persona/Nuevo" class="btn btn-success">NUEVO EMPLEADO</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>PersonaId</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>OPCIONES</th>
        </tr>
    </thead>
    <tbody>
         @foreach (var item in Model) 
         {
        <tr>
            <th>@Html.DisplayFor(modelItem => item.PersonaId)</th>
            <th>@Html.DisplayFor(modelItem => item.Nombre)</th>
            <th>@Html.DisplayFor(modelItem => item.Telefono)</th>
            <th>@Html.DisplayFor(modelItem => item.Email)</th>
            <th>
                <a href="/CRUD_Persona/Editar/@item.PersonaId" class="btn btn-info">EDITAR</a>
                <a href="/CRUD_Persona/Borrar//@item.PersonaId" class="btn btn-danger">BORRAR</a>
            </th>
        </tr>
         }
    </tbody>
</table>